/* Start of About Section */

#about {
    width: 100%;
    height: fit-content;
    background-color: #f7f8fd;
    box-sizing: border-box;
    /* background-color: hsl(206, 9%, 97%); */
}

.about-heading {
    width: auto;
    height: fit-content;
    display: flex;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 0.4rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.about-heading h2 {
    color: #8a90a2;
}

.about-heading .sp1 {
    width: 0.5rem;
    height: 0.5rem;
    background-color: #d72828;
    border-radius: 50%;
}

.about-heading .sp2 {
    width: 0.9rem;
    height: 0.9rem;
    background-color: #d72828;
    border-radius: 50%;
}

.about-heading .sp3 {
    width: 1.3rem;
    height: 1.3rem;
    background-color: #d72828;
    border-radius: 50%;
}

.about-container {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid black; */
}

.about-left {
    width: 100%;
    height: fit-content;
}

.about-left img{
    width: 100%;
    height: 100%;
    padding: 2rem 2rem 0 2rem;
}

.about-right {
    width: 100%;
    height: fit-content;
}

.about-text {
    padding: 0.5em;
    height: fit-content;
}

.about-skills {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    padding: 0.9rem;
} 

.skills-images {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}

.skimg {
    width: 5rem;
    height: 5rem;
}

.skimg:hover {
    position: relative;
    bottom: 0.5rem;
}

.skills-images img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}


@media (min-width:850px) {
    #about {
        width: 100%;
        /* height: 100vh; */
        height: fit-content;
        background-color: #f7f8fd;
        box-sizing: border-box;
    }

    .about-heading {
        width: auto;
        /* height: 15%; */
        height: fit-content;
        display: flex;
        padding-right: 3rem;
        padding-top: 4rem;
        padding-bottom: 1.5rem;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .about-container {
        width: 90%;
        /* height: 83%; */
        height: fit-content;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .about-right {
        width: 50%;
        height: fit-content;
        font-family: 'Inter', sans-serif;
    }
    
    
    .about-left {
        width: 40%;
        height: fit-content;
    }
}