

.header {
    width: 100%;
    height: 15%;
    padding-top: 1rem;
    background-color: #ffffff;
}

.header li {
    font-family: 'Roboto', sans-serif;
}

.header a {
    text-decoration: none;
    text-align: center;
    color: #8a90a2;
}

.header a:hover {
    color: #000;
}

.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    width: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#mobile-btn {
    padding: 0.4rem 0.98rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.20), 0 10px 10px 0 rgba(0,0,0,0.10);
}

#mobile-btn:hover {
    background-color: #d72828;
}

.topnav {
    display: none;
}

.logo {
    width: auto;
    height: auto;
    text-align: center;
}

.logo-text {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: rock salt, sans-serif;
}

.logo-end {
    color: #d72828;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 80%;
    padding: 0.7rem;
    cursor: pointer;
}

.top-cta {
    border: none;
    text-align: center;
    text-decoration: none;
    /* background-color: #ffd109; */
    background-color: #d72828;
    color: #fff;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    border-radius: 0.8rem 0.8rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

.top-cta:hover {
    background-color: #3c37be;
    color: #ffffff;
}

/* sticky header */
.top-padding {
    padding: 0.5rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 10px 14px 0 rgba(0,0,0,0.14), 0 10px 43px 0 rgba(0,0,0,0.10);
}

/* mobile overlay setting */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    display: none;
}

#overlay-nav li {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
}

#overlay-nav li:not(:last-child) {
    margin-bottom: 1.8rem;
}

#overlay-nav a {
    color: #fff;
}

#close-icon {
    position: absolute;
    top: 1.2rem;
    right: 2.4rem;
    color: #fff;
}




@media (max-width:849px) {
    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;
        color: black;
        /* border: 1px solid red; */
        text-align: center;
    }

    .social-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        padding-top: 1.5rem;
        padding-left: 0.2rem;
        width: 100%;
        font-size: 0.88rem;
        font-weight: bold;
    }

    header {
        /* padding: 0; */
        margin: 0 auto;
        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    #hero-container {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        gap: 3rem;
        width: 90%;
        height: 85%;
        background-color: white;
        margin: 0 auto;
        box-sizing: border-box;
        /* border: 1px solid blue; */
    }
}



h1,h2,h3 {
    line-height: 1.3;
}

.big-heading {
    font-size: 1.88rem;
    font-weight: 300;
}

.big-heading-1 {
    font-size: 1rem;
    font-weight: 500;
}

.hello {
    font-size: 1rem;
    line-height: 0.1;
}

.name-color {
    color: hsl(242, 55%, 48%);
    text-decoration-line: underline;
    text-decoration-color: #d72828;
    text-decoration-thickness: 0.3rem;
}

.herobutton-container {
    padding-top: 1rem;
} 

.hero-button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #3c37be;
    color: white;
    font-size: 1rem;
    width: 12rem;
    padding: 1.5rem 1.5rem;
    border-radius: 0.5rem 0.5rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

.hero-button:hover {
    background-color: #d72828;
    color: #fff;
}


.social-buttons a {
    text-decoration: none;
    color: #000;
}

.social-buttons a:hover {
    color: #2c5caf;
}

.social-buttons img {
    width: 1.5rem;
    box-sizing: border-box;
}

.github, .linkedin {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.heroimg-container { 
    display: block;
    width: 100%;
    height: 48%;
}

.hero-img {
    width: 100%;
    height: 100%;
}



@media (min-width:850px) {
    #mobile-btn {
        display: none;
    }

    .topnav ul {
        display: flex;
        align-items: center;
        list-style: none;
    }

    .topnav li:not(:last-child) {
        margin-right: 2.2rem;
    }

    .topnav {
        display: block! important;;
    }

    .nav-effect {
        padding-bottom: 2rem;
    }

    .nav-effect:hover {
        text-decoration-line: underline;
        text-decoration-color: #d72828;
        text-decoration-thickness: 0.2rem;
        text-underline-offset: 15px;
    }

    .logo-text {
        color: #000;
        font-weight: bold;
        font-size: 1.8rem;
        font-family: rock salt, sans-serif;
    }

    header {
        margin: 0 auto;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }

    #hero-container {
        display: flex;
        flex-direction: row;
        /* justify-content: center; */
        align-items: center;
        width: 88%;
        height: 85%;
        background-color: white;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0;
    }
    
    .welcome {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 75%;
        height: 100%;
        color: black;
    }

    .heroimg-container { 
        display: block;
        width: 25%;
        height: 70%;
    }

    h1,h2,h3 {
        line-height: 1;
    }
    
    .big-heading {
        font-size: 3.5rem;
        font-weight: 300;
    }
    
    .big-heading-1 {
        font-size: 1.5rem;
        font-weight: 500;
    }
    
    .hello {
        font-size: 1.5rem;
        line-height: 0.2;
    }
    
    .name-color {
        color: hsl(242, 55%, 48%);
        text-decoration-line: underline;
        text-decoration-color: #d72828;
        text-decoration-thickness: 0.5rem;
    }
    
    .herobutton-container {
        padding-top: 2rem;
    } 
    
    .hero-button {
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: #3c37be;
        color: white;
        font-size: 1rem;
        width: 13rem;
        padding: 1.5rem 1.1rem;
        border-radius: 0.5rem 0.5rem;
        cursor: pointer;
        transition-duration: 0.4s;
    }

    .social-buttons {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        padding-top: 2rem;
        padding-left: 0.2rem;
        width: 100%;
        font-size: 0.88rem;
        font-weight: bold;
    }
}